.container-related {
    background-color: #70998B;
    margin-top: 0px;
    padding-bottom: 40px;
    height: auto;
}
 
.container-related h2 {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    color: #FFF;
}
 
.related {
    margin: auto;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
    padding-bottom: 80px;
}

.item-container {
    background-color: #E8E8E8;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.related img {
    border-radius: 5px;
}

@media(max-width:800px) {
    .container-related h2 {
        font-size: 30px;
    }

    .related {
        grid-template-columns: 1fr;
    }
}
